player-connection-mode=Listen
player-connection-guid=2861892558
player-connection-debug=0
player-connection-project-name=Simulation
player-connection-ip=192.168.50.94
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2710701ed9404070aa471b21fd26ef2d
